body {
    padding: 0;
    margin: 0;
    margin: 0;
    transition: 0.3s linear all;
}

body:has(.slider:not(:checked)) {
    background-color: rgb(255, 255, 255);
}
body:has(.slider:checked) {
    background-color: rgb(35, 35, 35);
}

main {
    align-items: center;
    display: grid;
    justify-items: center;
    min-height: 100vh;
}
